.container {
    margin: auto;
    width: 600px;
}

.ingredients_container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    max-width: 600px;
    flex-wrap: wrap;
}

.listContainer {
    composes: custom-scroll from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';

    display: flex;

    flex-direction: column;

    margin: 0;
    padding: 0;

    gap: 40px;


    height: calc(50vh);
    overflow-y: auto;
}