.burgerIngredients {
    margin: auto;
}

.mainContainer {
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    max-width: 1240px;
}