.container {
    width: 600px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.main {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    align-items: flex-end;
    
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 33px;
    gap: 25px;
}

.icon {
    position: absolute;
    width: 33px;
    height: 33px;
}

.listContainer {
    composes: custom-scroll from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 40px;
    max-height: calc(30vh);
    overflow-y: auto;
    width: 100%
}
.main> div{
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}