.container {
    width: 600px;
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.main {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    align-items: flex-end;
    
}

.main>div {
    width: 100%;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 33px;
    gap: 25px;
}

.icon {
    position: absolute;
    width: 33px;
    height: 33px;
}

.listContainer {
    composes: custom-scroll from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';

    display: flex;

    flex-direction: column;

    margin: 0;
    padding: 0;

    gap: 40px;


    height: calc(60vh);
    overflow-y: auto;
}