@font-face {
  font-family: "Iceland";
  src: url("./fonts/Iceland-Regular.woff") format("woff");
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./fonts/JetBrainsMono-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./fonts/JetBrainsMono-Regular.woff") format("woff");
  font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: 'JetBrains Mono';
}